body {
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('img/donnie-yellow-cursor.cur'), auto;
}

.donnie {
    text-decoration: none;
    color: white;
    cursor: url('img/donnie-black-cursor.cur'), auto;
}

h1, h2, h3, p {
    color: black;
    text-align: center;
    font-family: 'Alagard','Arial','Courier New', Courier, monospace;
}

.ready {
    width: fit-content;
    cursor: url('img/donnie-blue-cursor.cur'), auto;
    margin-left: 20px;
}

.text {
    display: block;
    position: relative;
    width: 50%;
    z-index: 3;
    overflow: hidden;

}

.center-container {
    width: 50vw;
    height: 50vw;
    background-color: black;
    overflow-y: hidden;
    cursor: url('img/donnie-blue-cursor.cur'), auto;
    animation: vhs-tremble 0.2s infinite;
}

.image-center {
    width: 100%;
    height: 90%;
    margin-top: -35%;
}

.text-image {
    display: block;
    position: relative;
    width: 50%;
    bottom: 90%;
    left: 30%;
    z-index: 3;
    overflow: hidden;
    animation: vhs-tremble 0.2s infinite;

}

.invisible-button {
    display: block;
    position: relative;
    width: 10%;
    height: 10%;
    cursor: url('img/donnie-black-cursor.cur'), auto;
}

.seringue {
    display: block;
    position: relative;
    width: 10%;
    height: 10%;
    left: 10%;
    z-index: 3;
    top: 32%;
    cursor: url('img/antipsy.cur'), auto;
}

.voice {
    left: 20%;
    top: 15%;
}

.wall-male {
    left: 65%;
    top: 20%;
}

.ready:hover {
    background-color: black;
    color: white;
}

.wall-female {
    left: 25%;
    top: 50%;
}

.hidden {
    visibility: hidden;
}

.psycho-shade {
    animation: psycho-shade 0.2s infinite;
}

@keyframes psycho-shade {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-1px, 0);
    }
    50% {
        transform: translate(2px, 0);
    }
    75% {
        transform: translate(-0.50px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes vhs-tremble {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-0.50px, 0);
    }
    50% {
        transform: translate(0.50px, 0);
    }
    75% {
        transform: translate(-0.50px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@font-face {
    font-family: 'Alagard';
    src: url('fonts/alagard.ttf');
}